export PROJECT_BUILD_COMMIT=""
export PROJECT_BUILD_DATE="0000-00-00 00:00:00+00:00"
export PROJECT_DOCKER_PLATFORMS="linux/arm64,linux/amd64"
export PROJECT_DOCKER_TEST_CPUARCH="arm64"
export PROJECT_DOCKER_REPOSITORY="dev-base"
export PROJECT_NAME="container-dev-base"
export PROJECT_VERSION="latest"
