# ######################################################################################################################
# LICENSE
# ######################################################################################################################

#
# This file is part of devcontainer.
#
# The devcontainer is free software: you can redistribute it and/or modify it under the terms of the GNU Affero
# General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your
# option) any later version.
#
# The devcontainer is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along with devcontainer. If not, see
# <https://www.gnu.org/licenses/>.
#

# ######################################################################################################################
# ENVIRONMENT VARIABLES
# ######################################################################################################################

#
# GENERAL
#

export DOCKER_BUILDKIT=1

#
# PROJECT VARIABLES
#

export PROJECT_BUILD_DATE="$(date -u +'%Y-%m-%d %H:%M:%S%z')"
export PROJECT_COMMIT="$(git rev-parse HEAD)"
export PROJECT_VERSION="1.2.0"
export PROJECT_DOCKER_ORG="mundoalem"
export PROJECT_DOCKER_PLATFORMS="linux/arm64,linux/amd64"
export PROJECT_DOCKER_REPOSITORY="devcontainer"
export PROJECT_NAME="devcontainer"


#
# DOCKER IMAGE ARGUMENTS
#

export DEFAULT_LANG="C.UTF-8"
export DEFAULT_USER_PRIMARY_GROUP="developers"
export DEFAULT_USER_SECONDARY_GROUPS="sudo"
export DEFAULT_USER_SHELL="/bin/bash"
export DEFAULT_USER="dev"
export DEFAULT_LANG="C.UTF-8"

#
# LOCAL OVERRIDES
#

dotenv_if_exists .envrc.local
